<ul class="nav">
  <li><a href="http://localhost:3000/">Home</a></li>
  <li><a href="http://localhost:3000/addBlog">Add Blog</a></li>
  <li><a href="http://localhost:3000/updateUser?">Update User</a></li>
  <li>
    <a href="“javascript:null”" onClick="javascript:submitForm()">
      Delete User
    </a>
  </li>
  <li><a href="http://localhost:3000/logout">Logout</a></li>
</ul>
